<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Additional CSS styles */
       /* Style for eye icon */
.password-input-container {
    position: relative;
}

#showPassword,
#hidePassword {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
}
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Log In</h1>
                <p class="text-center">
                    Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
                </p>

                <form id="loginForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="password-input-container">
                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                            <!-- Unicode for eye and crossed eye icons -->
                            <span id="showPassword">&#x1F441;</span>
                            <span id="hidePassword">&#x1F576;</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='login.js') }}"></script>
</body>

</html>